body {
    font-family: 'Snowburst One';
    background-color:#add8e6;
    font-size: 20px;
    width:100%;
}

h2, h4 {
    font-family: thasadith;
    font-weight: bold;
}

.head {
    height: 400px;
    background-color: skyblue;
    font-family: 'Times';
    text-align: center;
    display: flex;
    align-items: center;
}

.pDetail {
    width:100%;
    height:320px;
}

#top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
}

.content {
    width:100%;
    margin: 0 auto;
}

.content1 {
    width:50%;
    padding:20px;
    float:left;
}

.content2 {
    width:50%;
    padding:20px;
    float:right;
}

.plain {
    clear:both;
}

.gallery {
    padding:20px;
}

.bottom {
    padding:20px;
}

h4 {
    margin-top: 30px;
    text-decoration: underline;
    color: rgba(39, 123, 29,1);
}

.deco {
    text-decoration: none;
}

footer {
    font-size: 10px;
    text-align:center; 
}

.video-container {
    position:relative;
    padding-bottom: 40%;
    padding-top: 30px;
    height: 0;
    overflow:hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    max-width:854px;
    max-height:480px;
}

@media (max-width: 768px) {
    .content1 {
        width:100%;
    }
    .content2 {
        width:100%;
    }
    .display-4 {
      font-size: 40px;
    }
}
